@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,200;1,200&family=Poltawski+Nowy:wght@700&display=swap');


:root {
    --primary-color: #1F363D;
    --secondary-color: #40798C;
    --accent1-color: #70A9A1;
    --accent2-color: #9EC1A3;

    --heading-font: 'Poltawski Nowy', serif;
    --paragraph-font: 'Noto Sans Display', sans-serif;

    --nav-background-color: #1F363D;
    --nav-link-color: #40798C;
    --nav-hover-link-color: #70A9A1;
    --nav-hover-background-color: #9EC1A3;
}

* {
    margin: 10px;
}

h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-weight: bold;
  }


header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
    position:relative;
}

.hero h1 {
    position: absolute;
    top: 350px;
    margin: 10px;
    padding: 10px;
    width: 100%;    
    opacity: 70%;
    font-size: 4rem;
    place-content: center;
    color: var(--primary-color);
    background-color: var(--accent1-color);
}


.middle {
    position: absolute;
    margin: 100px;
    top: 450px;
    opacity: 80%;
    place-content: center;
    font-size: 2rem;
    padding: 5px;
    background-color: var(--accent2-color);
}

.middle img {
    float: right;
    width: 200px;
    height: auto;
    opacity: 100%
}


section {
    display:grid;
}

    

