@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,200;1,200&family=Poltawski+Nowy:wght@700&display=swap');


:root {
    --primary-color: #1F363D;
    --secondary-color: #40798C;
    --accent1-color: #70A9A1;
    --accent2-color: #9EC1A3;

    --heading-font: 'Poltawski Nowy', serif;
    --paragraph-font: 'Noto Sans Display', sans-serif;

    --nav-background-color: #1F363D;
    --nav-link-color: #40798C;
    --nav-hover-link-color: #1F363D;
    --nav-hover-background-color: #9EC1A3;
}

* {
    max-width: 840px;
    margin: auto;
    padding: 5px;
    font-family: var(--paragraph-font);
    box-sizing: border-box;
}


h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-weight: bolder;
}


header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-content: space-between;
    border: solid var(--primary-color);
    padding: 0;
    background-color: var(--accent1-color);
    max-width: 840px;
}

header img {
    margin-left: 100px;
}

p {
    padding: 20px;
}

nav {
    display: flex;
    background-color: var(--nav-background-color);
    justify-content: space-evenly;
    font-size: 1rem;
    font-weight: bold;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 180px;
    left: 650px;
    margin: auto;
    opacity: 80%;
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--accent1-color);
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    justify-content: space-around;
    background-color: #9EC1A3;
}


.middle {
    position: absolute;
    top: 400px;
    left: 380px;
    margin: 10px;
    width: 740px;
    opacity: 80%;
    font-size: 1rem;
    padding: 5px;
    background-color: var(--accent2-color);
}

.middle img {
    float: right;
    width: 200px;
    height: auto;
    opacity: 100%
}


section {
    padding: 0;
    margin: auto;
    place-content: center;
    text-align: center;
}

.pictures {
    display: flex;
    max-width: 840px;
    flex-direction: row;
    justify-content: space-evenly;

}

footer {
    display: flex;
    max-width: 840px;
    padding: 0;
    border: solid var(--accent2-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bolder;
}

.sociallinks {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}