@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,200;1,200&family=Poltawski+Nowy:wght@700&display=swap');


:root {
    --primary-color: #1F363D;
    --secondary-color: #40798C;
    --accent1-color: #70A9A1;
    --accent2-color: #9EC1A3;

    --heading-font: 'Poltawski Nowy', serif;
    --paragraph-font: 'Noto Sans Display', sans-serif;

    --nav-background-color: #1F363D;
    --nav-link-color: white;
    --nav-hover-link-color: #1F363D;
    --nav-hover-background-color: #9EC1A3;
}


* {
    max-width: 840px;
    margin: auto;
    padding: 5px;
    font-family: var(--paragraph-font);
    box-sizing: border-box;
}

p {
    padding: 20px;
}


h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-weight: bolder;
}


header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-content: space-between;
    border: solid var(--primary-color);
    padding: 0;
    background-color: var(--accent1-color);
    max-width: 840px;
}
/* COMPANY LOGO */
header img {
    margin: auto;
    border: solid black;
    padding: 0
}


/* NAV LINKS */
nav {
    display: flex;
    background-color: var(--nav-background-color);
    justify-content: space-evenly;
    font-size: 1rem;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover, button:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}



/* WHITEWATER RAFTING BACKDROP IMAGE */
.hero {
    position: relative;    
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}
/* WHITEWATER RAFTING TEXT HEADER*/
.hero h1 {
    position: absolute;
    top: 100px;
    left: 240px; 
    margin: auto;
    opacity: 80%;
    font-size: 2rem;
    text-align: center;
    /* max-width: 840px;     */
    color: var(--primary-color);
    background-color: white;
    border: solid var(--primary-color);
}


.middle {
    position: absolute;    
    top: 300px;
    left: 30px;
    margin: auto;
    max-width: 740px;
    opacity: 85%;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    background-color: var(--accent2-color);
}

.middle img {
    float: right;
    width: 200px;
    height: auto;
    opacity: 100%
}


/* HISTORY SECTION */
.history-grid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    justify-content: space-around;
    background-color: #9EC1A3;
    border: solid var(--primary-color);
}


/* ADVENTURE AWAITS YOU SECTION */
section {
    padding: 0;
    margin: auto;
    place-content: center;
    text-align: center;
    
}

/* 5 PICTURES WITH CAPTIONS UNDER ADVENTURE AWAITS YOU*/
.pictures {
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
    justify-content: space-evenly;

}


/* FOOTER PART */
footer {
    display: flex;
    max-width: 840px;
    padding: 0;
    border: solid var(--accent2-color);
    background-color: var(--primary-color);
    color: white;    
}

.sociallinks {
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

/* CONTACT US PAGE */
form {
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    background-color: white;
    display: grid;
    text-align: center;
    font-weight: bold;
}


button {
    margin-top: 30px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

fieldset {
    width: 700px;
    padding:10px;
}

