@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,200;1,200&family=Poltawski+Nowy:wght@700&display=swap');

:root {
    --primary-color: #1F363D;
    --secondary-color: #40798C;
    --accent1-color: #70A9A1;
    --accent2-color: #9EC1A3;

    --heading-font: 'Poltawski Nowy', serif;
    --paragraph-font: 'Noto Sans Display', sans-serif;

    --nav-background-color: #1F363D;
    --nav-link-color: #40798C;
    --nav-hover-link-color: #70A9A1;
    --nav-hover-background-color: #9EC1A3;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}